@keyframes slideUp {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: url("../../assets/images/ForestBG.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  .languageBox {
    width: 15%;
    height: 120px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10;

    .languageButton {
      width: 40%;
      height: 50%;
      border-radius: 50%;
      outline: none;
      background: transparent;
      border: none;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.registerBox {
  position: relative;
  z-index: 2;
  display: flex;
  width: 800px;
  height: 600px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  animation: slideUp 1s ease-out;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.registerBox:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.left,
.right {
  padding: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left {
  background: linear-gradient(to right, #45c032, #00957f);
  color: white;
  text-align: center;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.right {
  background: white;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.label {
  display: block;
  margin: 0.5rem 0;
  color: #555;
}

.input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.input:focus {
  border-color: #45c032;
  box-shadow: 0 0 5px #45c032;
}
.input:focus-visible {
  outline: none;
}

.signUpButton,
.signInButton {
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.signUpButton {
  background: linear-gradient(to right, #45c032, #00957f);
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signUpButton:hover {
  background: #00957f;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.signInButton {
  background: transparent;
  color: white;
  border: 2px solid white;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
}

.signInButton:hover {
  background: white;
  color: #45c032;
  border: 2px solid #00957f;
  box-shadow: 0 8px 12px rgba(255, 255, 255, 0.3);
}
