.homepage {
    position: relative;
    background-image: url("../assets/images/ForestBG.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-left: 15rem;
  
    /* Nakładka */
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1; 
    }
  

    .postsContainer {
        position: relative;
        z-index: 2;
        padding: 20px;
        width: 30rem;
    }
  
    .post {
      .card {
        border: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
      }
  
      .card-img-top {
        width: 100%;
        aspect-ratio: 4 / 5; 
        object-fit: cover; 
      }
  
      .card-title {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }
  
      .card-text {
        font-size: 0.9rem;
        color: #666;
      }
    }
  }
  